@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
    scroll-behavior: smooth;
}

:root{
    --bg-col: #fff;
    --bdy-col: #f8f8f8;
    --txt: #000;
    --sub:#202020;
    --graph: #e8e8e8;
}

body{
    background-color: var(--bdy-col)
}

.container{
    background-color: var(--bdy-col);
    height: max-content;
    width: 100%;
}

.container .strip{
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.container .strip .grp{
    width: max-content;
    height: 100%;
    display: flex;
    gap: 50px;
    padding-right: 50px;
}

.container .img {
    width: auto;
    height: 100%;
}

.container .bc{
    width: auto;
    height: 100%;
    padding: 20px 0;
    /* filter: invert(1); */
}

.container .main-title{
    font-family: "Public Sans";
    color: var(--txt);
    font-weight: 600;
    font-size: 20px;
}
.container .main-date{
    font-family: "Public Sans";
    margin-top: 10px;
    color: rgb(21, 21, 21);
    font-weight: 400;
    font-size: 15px;
}
.container .main-sub{
    font-family: "Public Sans";
    color: var(--sub);
    font-weight: 400;
    font-size: 12px;
    width: 30%;
    /* margin-bottom: 40px; */
    margin-top: 5px;
}

.container .navigation{
    display: flex;
    gap: 20px;
    margin: 20px 0;
    width: max-content;
    /* border-bottom: 1px solid #e1e1e1; */
    padding-bottom: 5px;
}

.container .navigation .link{
    font-size: 14px;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    background-color: transparent;
    font-family: "Public Sans";
}

.container .navigation .link.sel{
    border-radius: 5px;
    background: #67a6ff;
    color: #fff;
}

.flx {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.graph-container{
    max-width: max-content;
    min-width: 250px;
    height: max-content;
    background: var(--bg-col);
    padding: 20px;
    border: 1px solid #e7e7e7;
    color: var(--txt);
    border-radius: 10px;
    font-family: Public sans;
}

.sub{
    font-size: 12px;
    color: var(--sub);
    margin-top: 5px;
}


.graph{
    width: 100%;
    height: max-content;
    margin-top: 15px;
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 10px;
    margin-top: 20px;
}

.graph .sd-labs{
    width: max-content;
    height: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--txt);
}

.graph .sd-labs .lab{
    height: max-content;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    font-family: "Public sans";
    height: max-content;
}


.graph .graphs{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr max-content;
    gap: 10px;
}

.graph .graphs .labs{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    gap: 15px;
}


.graph .graphs .labs .lab{
    height: max-content;
    width: 30px;
    transform: rotate(180deg);
    text-align: center;
    writing-mode: vertical-rl;
    display: flex;
    align-items: center;
    font-size: 12px;
    word-wrap: nowrap;
    font-family: "Public sans";
}

.graph .graphs .bars{
    width: 100%;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: flex-end;
    gap: 15px;
    border-left: 2px dashed #e1e1e1;
    border-bottom: 2px dashed #e1e1e1;
    padding:0 10px;
}

.graph .graphs .bars .bar{
    width: 30px;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.graph .graphs .bars .bar .level{
    width: 100%;
    border-radius: 5px;
    background: linear-gradient(to top, #6272ff, #1576ff);
}

.acc-container{
    max-width: max-content;
    min-width: 250px;
    height: max-content;
    background: var(--bg-col);
    padding: 20px;
    color: var(--txt);
    font-family: Public sans;
    display:grid;
    border-radius: 10px;
    grid-template-rows: max-content 1fr;
    gap: 10px;
    border: 1px solid #e7e7e7;
}

.acc-container .accelerometer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-top: 10px;
}

.acc-container .accelerometer .outer-ring{
    width: 200px;
    height: 100px;
    background-color: var(--graph);
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    position: relative;
    overflow: hidden;
}

.acc-container .accelerometer .outer-ring .inner-ring{
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #6272ff, #1576ff);
    transform-origin: bottom center;
    animation: roll 0.3s ease forwards;
}

@keyframes roll {
    from{
        transform: rotate(180deg);
    }to{
        transform: rotate(var(--per));
    }
}

.acc-container .accelerometer .outer-ring::after{
    content: "";
    width: 150px;
    height: 75px;
    background: var(--bg-col);
    border-top-right-radius: 150px;
    border-top-left-radius: 150px;
    position: absolute;
    bottom: 0;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 12px;
    text-align: center;
    transform: translateX(-50%);
}

.acc-container .accelerometer .outer-ring .label{
    z-index: 3;
    color: var(--sub);
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 11px;
    text-align: center;
}

.acc-container .accelerometer .speed{
    font-size: 20px;
    font-weight: 600;
    color: var(--txt);
    margin-bottom: 10px;
}


.acc-container .flow{
    width: 200px;
    height: 200px;
    background-color: #1576ff;
    border-radius: 50%;
    margin: 30px 0;
    position: relative;
    border: 1px solid #32323229;
}



.acc-container .flow .dir{
    width: 1px;
    height: 100%;
    position: absolute;
    background-color: #32323229;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.acc-container .flow .dir.hor{
    transform: translateX(-50%) rotate(90deg);
}

.acc-container .flow .dir.dia1{
    transform: translateX(-50%) rotate(45deg);
}

.acc-container .flow .dir.dia2{
    transform: translateX(-50%) rotate(-45deg);
}

.acc-container .flow .dir .lb{
    font-size: 12px;
    color: rgb(109, 109, 109);
    position: absolute;
}

.acc-container .flow .dir .lb.tp{
    top: -18px;
}

.acc-container .flow .dir .lb.bt{
    bottom: -18px;
}

.graph .graphs .bars .point{
    width: 5px;
    height: 5px;
    background-color: #1576ff;
    border-radius: 10px;
    position: relative;
    bottom: var(--level);
}

.graph .graphs .bars .point::after{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #1576ff;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.graph .graphs .bars .point .line{
    width: var(--width);
    height: 2px;
    background-color: rgb(218, 218, 218);
    transform-origin: left;
    transform: rotate(var(--deg));
    position: relative;
    left: 50%;
}

.rrGrid{
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.table{
    color: var(--txt);
    width: 100%;
    height: max-content;
    font-family: "Public Sans";
    background-color: var(--bg-col);
    overflow-x: scroll;
}

.table .row{
    height: 45px;
}


.table .row .head, 
.table .row .data{
    border: 1px solid var(--graph);
    text-align: left;
    padding: 0 15px;
    font-size: 12px;
    word-wrap: nowrap;
    /* text-wrap: nowrap; */
    text-transform: capitalize;
}

.table .row .head {
    background-color: var(--graph);
    font-size: 14px;
}

.rrGrid .filters{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: max-content 1fr;
}

.rrGrid .filters .filter{
    width: 100%;
    height: max-content;
    background-color: var(--graph);
    border: 1px solid var(--graph);
    padding: 15px;
}

.rrGrid .filters .filter .wrap{
    margin-bottom: 15px;
}

.rrGrid .filters .filter .wrap .lab{
    font-family: "Public Sans";
    color: var(--sub);
    font-size: 12px;
}

.rrGrid .filters .filter .wrap .inp{
    width: 100%;
    height: 40px;
    background-color: var(--bg-col);
    border-radius: 5px;
    border: 1px solid var(--graph);
    outline: none;
    padding: 0 10px;
    font-family: "Public Sans";
    color: var(--sub);
    margin-top: 5px;
}

.rrGrid .filters .filter .btn{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    outline: none;
    font-family: "Public Sans";
    color: white;
    margin: 5px;
    margin-top: 10px;
    background: #6f6fff;
    cursor: pointer;
    border: none;
}

.rrGrid .filters .filter .btn.sec{
    color: var(--sub);
    margin-top: 5px;
    background: var(--bg-col);
}

.blog{
    width: 100%;
    height: max-content;
    background-color: var(--bg-col);
    padding: 40px 20px;
    display: none;
    justify-content: center;
}

.blog .center{
    width: 50%;
    height: max-content;
    overflow: hidden;
}

.blog .center .main-blg{
    font-family: "Public Sans";
    color: var(--sub);
    font-size: 14px;
    width: 100%;
    margin-top: 20px;
}

.blog .btitle{
    font-family: "Public Sans";
    color: var(--sub);
    font-size: 20px;
    font-weight: 700;
}

.blog .center .images{
    width: 100%;
    height: max-content;
    margin-top: 20px;
    white-space: nowrap;
    overflow-x: scroll;
    -ms-overflow-style: none;
    margin-bottom: 20px;
    scrollbar-width: none;
}

.blog .center .images::-webkit-scrollbar {
    display: none;
}

.blog .center .images .img{
    width: auto;
    height: 200px;
    margin-right: 10px;
    border-radius: 10px;
}

.blog .center .link{
    font-family: "Public Sans";
    font-size: 13px;
}

.blog .center .link .h{
    text-decoration: none;
}

.blog .center .main-title.t{
    font-family: "Public Sans";
    color: var(--sub);
    font-size: 30px;
    font-weight: 700;
}

.footer{
    padding: 40px 30px;
    background: #fff;
    margin-top: 20px;
    display: grid;
    /* gap: 30px; */
    grid-template-columns: max-content 1fr 1fr 1fr 1fr;
}

.footer .col{
    width: 100%;
    height: 100%;
}

.footer .col .img{
    width: 100%;
    height: auto;
}

.footer .col .ftitle, .footer .col .link{
    font-family: "Public Sans";
    color: var(--sub);
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 10px;
}

.footer .col .link {
    margin-bottom: 5px;
    font-weight: 500;
    cursor: pointer;
    display: block;
    text-decoration: none;
}

.footer .col .link:hover{
    color: #1576ff;
}

.footer .col .sub{
    font-family: "Public Sans";
    width: 80%;
}

.footer .col .inp{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
    font-family: "Public Sans";
    font-size: 12px;
    padding: 0 10px;
    border: 1px solid var(--graph);
}

.footer .col .row{
    width: 100%;
    height: 30px;
    display: grid;
    margin-top: 5px;
    grid-template-columns: 1fr max-content;
    gap: 5px;
}

.footer .col .txtArea{
    width: 100%;
    height: max-content;
    border: 1px solid var(--graph);
    border-radius: 5px;
    font-family: "Public Sans";
    font-size: 12px;
    padding: 10px;
    resize: none;
}

.footer .col .row .btn{
    width: max-content;
    height: 100%;
    border: none;
    border-radius: 5px;
    color: var(--bg-col);
    font-family: "Public Sans";
    font-size: 12px;
    padding: 0 10px;
    background-color: #1576ff;
}


.loader {
    --d: 22px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    color: #4D82D2;
    box-shadow:
        calc(1*var(--d)) calc(0*var(--d)) 0 0,
        calc(0.707*var(--d)) calc(0.707*var(--d)) 0 1px,
        calc(0*var(--d)) calc(1*var(--d)) 0 2px,
        calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
        calc(-1*var(--d)) calc(0*var(--d)) 0 4px,
        calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
        calc(0*var(--d)) calc(-1*var(--d)) 0 6px;
    animation: l27 1s infinite steps(8);
}

@keyframes l27 {
    100% {
        transform: rotate(1turn)
    }
}

.sbt{
    width: max-content;
    height: max-content;
    padding: 5px 10px;
    background-color: #1576ff;
    color: white;
    font-family: "Public Sans";
    border: none;
    border-radius: 5px;
}

.tb{
    width: 100%;
    height: 100%;
    font-family: "Public Sans";
    font-weight: 600;
    color: #000;
}

.tb.rd{
    color: #d60000;
}
.tb.bl{
    color: #1576ff;
}
.tb.grn{
    color: #00d83a;
}


.dummy{
    width: 100%;
        height: 400px;
        background-color: #efefef;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: "Public Sans";
        font-size: 16px;
        font-weight: 600;
}

.dummy .ldt{
    margin-top: 40px;
}

.hide{
    display: none;
}

.graph-container.bm{
    min-width: max-content;
    padding-right: 40px;
}

.rrGrid.hist{
    grid-template-columns: 250px 1fr;
}


@media only screen and (max-width: 600px) {
    .container{
        overflow: hidden;
    }
    .container .strip{
        width: 100%;
        height: max-content;
        flex-direction: column;
        gap: 0;
    }
    .container .img{
        width: 100%;
        height: auto;
    }
    .container .strip .grp{
        width: 100%;
        padding: 0 20px;
        background-color: #67a6ff;
    }
    .container .strip .grp .bc{
        width: 40%;
        height: auto;
        filter: invert();
    }
    .container .main-sub{
        width: 90%;
    }
    .container .navigation{
        width: 100%;
        overflow-x: scroll;
    }
    .container .navigation .link.sel{
        text-wrap: nowrap;
        word-wrap: nowrap;
        height: max-content;
    }
    .rrGrid, .rrGrid.hist{
        grid-template-columns: 1fr;
    }
    .acc-container{
        max-width: 100%;
        min-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer{
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .graph-container.bm{
        min-width: 100%;
        max-width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .blog .center{
        width: 100%;
    }
}